html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,.87);
    margin: 0;
    font-weight: 400;
}

.drawer {
    background: teal;
    text-align: center;
    padding: 21px 0
}

.drawer h3 {
    font-weight: 500;
    color: whitesmoke !important;
}

.container {
    padding: 16px
}

pre.song {
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h2.page-header {
    color: teal;
    border-bottom: 1px solid teal;
    padding-bottom: 12px
}

.button-fixed-bottom-right {
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 64000;
}

.container.page-not-found h1 {
    color: teal;
    margin-bottom: 8px
}

.container.page-not-found h2 {
    font-weight: 200
}

.documents img {
    max-width: 300px
}

/*input[type=file] {*/
    /*width: 0;*/
    /*opacity: 0*/
/*}*/