$primary-color: teal
$primary-font-family: 'Roboto', sans-serif
$headers-font-weight: 400

html
  font-family: $primary-font-family

body
  margin: 0
  font-weight: 100

h1, h2, h3, h4, h5, h6
  color: rgba(0, 0, 0, .87)
  margin: 0
  font-weight: $headers-font-weight

.container
  padding: 0

pre.text
  padding: 0 16px
  font-family: $primary-font-family
  line-height: 150%
  white-space: pre-wrap

.container.system-page
  h1
    color: $primary-color
    margin-bottom: 8px
  h2
    font-weight: 100

.empty
  color: gray
  font-style: italic