.A
  background-color: #5A8770!important

.B
  background-color: #B2B7BB!important

.C
  background-color: #6FA9AB!important

.D
  background-color: #F5AF29!important

.E
  background-color: #0088B9!important

.F
  background-color: #F18636!important

.G
  background-color: #D93A37!important

.H
  background-color: #A6B12E!important

.I
  background-color: #5C9BBC!important

.J
  background-color: #F5888D!important

.K
  background-color: #9A89B5!important

.L
  background-color: #407887!important

.M
  background-color: #9A89B5!important

.N
  background-color: #5A8770!important

.O
  background-color: #D33F33!important

.P
  background-color: #A2B01F!important

.Q
  background-color: #F0B126!important

.R
  background-color: #0087BF!important

.S
  background-color: #F18636!important

.T
  background-color: #0087BF!important

.U
  background-color: #B2B7BB!important

.V
  background-color: #72ACAE!important

.W
  background-color: #9C8AB4!important

.X
  background-color: #5A8770!important

.Y
  background-color: #EEB424!important

.Z
  background-color: #407887