/* global configuration */

export const
  ENV_DEV = 'dev',
  ENV_TEST = 'test',
  ENV_PROD = 'prod',
  STORAGE_TYPE_COOKIES = 'cookies',
  STORAGE_TYPE_LOCAL = 'localStorage',
  API_BASE_URLS = {
    [ENV_DEV]: 'http://localhost:8000/app.php',
    [ENV_TEST]: 'http://localhost:8000/app.php',
    [ENV_PROD]: 'http://localhost:8000/app.php',
  }

export const APP_ENV = ENV_DEV

export default {
  env: APP_ENV,
  locale: 'en',
  appPicture: '/images/microphone.jpg',
  appName: 'Songbook',
  appDescription: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.\nDonec mattis pretium massa. Aliquam erat volutpat. Nulla facilisi.\nDonec vulputate interdum sollicitudin. Nunc lacinia auctor quam sed pellentesque.\nAliquam dui mauris, mattis quis lacus id, pellentesque lobortis odio.',

  storageType: STORAGE_TYPE_LOCAL,

  userUrl: `${API_BASE_URLS[APP_ENV]}/user`,
  lyricsUrl: `${API_BASE_URLS[APP_ENV]}/lyrics`,
  authorUrl: `${API_BASE_URLS[APP_ENV]}/authors`,
  artistUrl: `${API_BASE_URLS[APP_ENV]}/artists`,
  musicUrl: `${API_BASE_URLS[APP_ENV]}/music`,
  videoUrl: `${API_BASE_URLS[APP_ENV]}/videos`,
  songUrl: `${API_BASE_URLS[APP_ENV]}/song`,
}
